
.DS_Store
.ipynb_checkpoints/food_inspections-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
data/chicago-food-inspections/.ipynb_checkpoints/food-inspections-checkpoint.csv
data/chicago-food-inspections/.ipynb_checkpoints/socrata_metadata-checkpoint.json
data/chicago-food-inspections/food-inspections.csv
data/chicago-food-inspections/socrata_metadata.json
report/.ipynb_checkpoints/ada2019-checkpoint.tex
data/chicago-food-inspections/.food-inspections.csv.icloud
data/chicago-food-inspections/.ipynb_checkpoints/.food-inspections-checkpoint.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_01.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_02.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_03.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_04.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_05.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_06.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_07.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_08.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_09.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_10.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_11.csv.icloud
data/chicago-taxi-rides-2016/.chicago_taxi_trips_2016_12.csv.icloud
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_01.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_02.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_03.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_04.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_05.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_06.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_07.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_08.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_09.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_10.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_11.csv
data/chicago-taxi-rides-2016/chicago_taxi_trips_2016_12.csv
data/chicago-taxi-rides-2016/column_remapping.json
data/chicago-taxi-rides-2016/data_dictionary.csv
data/chicago-taxi-rides-2016/taxi_rides.pickle
data/chicago-taxi-rides-2016/taxi_rides_init.pickle
.ipynb_checkpoints/taxi_rides-checkpoint.ipynb
